@import './base.css';
@import './fonts.scss';


#app {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:brown;
    color: aliceblue;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}